<a href="https://colab.research.google.com/github/omarn8911/Dphi-MLBootCamp/blob/master/DPhi_BootCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print ("Hello World")
4+2

Hello World

6

In [0]:
3+7

10

In [0]:
7+4

11

In [0]:
5-2

3

In [0]:
4-7

-3

In [0]:
a = "Hello, World!"
print (a[1])
print (a[-5: -2])
print (2)

e
orl
2

In [7]:
x = input ("What's your name?")

What's your name?5

In [8]:
x

'5'

In [12]:
x = input("Enter a number")

Enter a number5

In [13]:
x

'5'

In [19]:
x= int(x)
print (x**2)

25

In [0]:
cadena = "Program"
print (cadena[-4 : 7])
print (type(cadena))

In [12]:
firstname = "Omar"
lastname = "Narváez"
print ("Hello, "+ str(firstname)+ " "+ str(lastname)+ " you just delved into Pyhton")
firstname = firstname.upper()
print (firstname)

Hello, Omar Narváez you just delved into Pyhton
OMAR

In [5]:
x = 2*2**3
print (type(x))

<class 'int'>

In [59]:
#list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#list1[2][2].append(7000)  
#print(list1)

list1 = [5, 10, 15, 20, 25, 50, 20]
i = 1
while i < len(list):
    if list1[i] == 20:
        list1[i] = 200
        i = len(list)
    else:
      i = i+1
print(list1)
list2 = [1, 2, 3]
list1.extend(list2)
print (list1)

[5, 10, 15, 200, 25, 50, 20]
[5, 10, 15, 200, 25, 50, 20, 1, 2, 3]

In [71]:
colors = ("yellow", "blue", "red", "green", "white")
print (colors)

aTuple = (20, 10, 30, 40)
a, b, c, d = aTuple
print (aTuple)
print (a)
print (d)

('yellow', 'blue', 'red', 'green', 'white')

AttributeError: ignored

In [8]:
for i in range (5):
  print (i, end=', ')

0, 1, 2, 3, 4,

In [9]:
dog_breeds = ["boxer", "bulldog", "shiba inu"]

# Print each breed:
for breed in dog_breeds:
  print(breed)

boxer
bulldog
shiba inu

In [0]:
lst = [3,4,6,1,2, -4, -5, -7]
lst[1:2] = [7,8]
print(lst)
suma= 0
for i in lst:
  if lst[i] <= 0:
    suma = suma + lst[i]
print("La suma total es: " + str(suma))

In [0]:
x = input("Ingrese un número")
x = int(x)
for i in range(1,11):
  #result = x*i
  print(str(x) + " X " + str(i)+ " = " + str(i*x))

In [0]:
list7= ['bread', 'milk', 'butter']
for index, i in enumerate(list7):
  print("Index "+ str(index) + " : " + i)

In [0]:
#program that receives input as n, and print sum of all numbers between 1 and n
n = input("Inserte un número: ")
n = int(n)
suma = 0
for i in range(1, n+1):
  suma = suma + i
print("La suma total es: "+ str(suma))

In [0]:
#sequence of numbers from 3 to 19, stepping by 2
for i in range(3, 20, 2):
  print(i)
i=0
for i in "python":
  print(i, end="")
print("\n")
i= 0
cadena = "python"
li = list(cadena) 
for i in range(len(cadena)):
  print(li[i], end=" ")
#for i in range(len(cadena)):

In [58]:
X = ['ab', 'cd']
for i in X:
  i.upper()
print (X)

['ab', 'cd']

In [1]:
#Convert two list into a dictionary

def listToDict(lstA, lstB):
    zippedLst = zip(lstA, lstB)
    op = dict(zippedLst)
    return op


lstStr = ['Ten', 'Twenty', 'Thirdy']
lstInt = [10, 20, 30]
print(listToDict(lstStr, lstInt))

{'Ten': 10, 'Twenty': 20, 'Thirdy': 30}

In [0]:
Dict = {
    "class":{
        "student":{
            "name":"Mike", "Marks":
            {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(Dict["class"]["student"]["Marks"]["history"])

In [0]:
inventory = {
    'gold': 500,
    'pouch': ['flint', 'twine', 'gemstone'],
    'backpack': ['xylophone', 'dagger', 'bedroll', 'bread loaf']
}

inventory.update({'pocket': ['seashell', 'strange berry', 'lint']})

print (inventory)

In [5]:
import numpy as np
list1 = [1,2,3,4]
list2 = [5,6,7,8]
x = np.arange(20)
y = np.arange(20)
array = x + y 
print(array)

[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38]